body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(83, 168, 194);
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 20px;
  box-shadow: 5px 5px 10px black;
}

form {
  margin: 20px;
}

select, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#weatherContainer {
  margin-top: 20px;
}

.weatherTile {
  display: inline-block;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px white;
  margin-top: 20px;
}
