/* Shades of Rust 


#B7410E
#92340B
#752A09
#5E2207
#4B1B06
#3C1605
#301204
#260E03
#1E0B02
#180902
Black

*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gruppo&family=Rajdhani&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Amatic SC', cursive;
}



#wrapper {
  min-height: 100%;
  position: relative;
}
.header {
  background: #752a09;
  padding: 10px;
}
.body {
  padding: 10px;
  padding-bottom: 60px; /* Height of the footer */
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  text-align: center;
}

.newGameButton,
.creditsButton,
.helpButton {
  padding: 5px;
  width: 100px;
  margin: 1px;
}

.cardBox {

  border-radius: 10px;
  background-color: lightgray;
  margin: 2px;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 5px black;
  padding:10px;
}

.cardBox:hover {
  box-shadow: inset 0px 0px 5px 5px black;
  transform: translate(0px, -10px);
  background-color: #b7410e;
  
}

.cardBox.CPU:hover {
  box-shadow: inset 0px 0px 5px 5px black;
  transform: rotate(90deg);
  background-color: gray;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: 'Gruppo', cursive;
  font-weight: bold;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.line {
  margin:20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  /*box-shadow: 0px 5px 5px 0px ;*/
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  55% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  65% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  75% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  85% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  90% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  95% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  98% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes attack {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(200px, -200px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

/*CPU deck*/

.monitorCPU {
  width: 80%;
  height: 150px;
  background-color: #5e2207;
  box-shadow: inset 0px 0px 50px #1e0b02;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}


/*userdeck*/

.monitor {
  width: 80%;
  height: 150px;
  background-color: #5e2207;
  box-shadow: inset 0px 0px 50px #1e0b02;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.sideButton{
 
  box-shadow: inset 0px 0px 50px #1e0b02;
  border-radius: 15px;
  writing-mode: vertical-lr;
  padding:10px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  
}

.sideLayer{
 
  box-shadow: inset 0px 0px 50px #1e0b02;
  border-radius: 15px;
  writing-mode: vertical-lr;
  padding:30px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  
}

#score{
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}