* {
    margin:0;
    padding:0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* NavBar - Begin */
header{
	
	min-height: 10vh;
	width: 100%;
    
}
	
li{
   
    list-style: none;
    text-decoration: none;
    padding: 10px;
    display:flex;
    



}

.right{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    font-size: 15px;
    float: right;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}



.left{
    float: left;
    font-size: 24px;
    color: #F9FAF8;
    
}

.left a:hover{
    text-decoration: none;
    cursor:pointer;

}



/* NavBar - End */



.firstContent {
      
   
    justify-content: center;
    align-items: center;
    padding: 5%;

}

h1{
    font-weight: extra-bold;
    font-size: 48px;
    color: #f9faf8;
    
}



.container {

    
}

.gridBox {
    
 }
   
 #item-0 {

 }
 #item-1 {

 }
 #item-2 {

 }
 #item-3 {

 }










.buttonSignUp {
    all:unset;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top:10px;
    cursor: pointer;
    
}



.buttonSignIn {
    all:unset;
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top:10px;
    cursor: pointer;
    
}






.hero, .firstContent {
    background-color: #1F2937;
}

footer {
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f9faf8;
}

.heroMainText {
  
    font-weight: extra-bold;
    font-size: 48px;
    color: #f9faf8;
}

.heroSecondaryText, .headerLinkText {
    font-size: 18px;
    color:#E5E7EB;

}

.headerLogoText {
    font-size: 24px;
    color: #F9FAF8;
}

.buttonColor {
    background-color: #3882F6;
    color: white;
}

.callToActionBackground {
    background-color: #3882F6;
    color: white;
}

h2{                            /*informationHeaderText */
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
   

}

.secondContent{
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding:5%;
}

.boxOutline {
    margin: 10px;  
    text-align: center;
    justify-content: center;
}

.boxContainerFlex {
    display:flex;    
    text-align: center;
    justify-content: center;
  

}



.box{
    border-radius: 15px;
    border:3px solid #3882F6;
    padding: 50px;

   
}

.thirdContent{
    background-color: #E5E7EB; /*quoteSectionBackgroundColor*/
    font-size: 36px;        /*quoteText*/
    font-weight: light italic;
    color:#1F2937;
    justify-content: center;
    align-items: center;
    padding: 5%;
  

}

.quoteRight{
    float: right;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
}

.fourthContent{
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.containerCalltoAction{
    background-color: #3882F6;
    color: white;
    padding: 5%;
    border-radius: 15px;

}